* {
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
}

img {
    height: auto;
    max-width: 100%;
    display: block;
}