@import "@fontsource/source-sans-pro";
@import "base.css";

#app {
    font-family: 'Source Sans Pro', sans-serif;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    background-color: #0C4A6E;
    color: #F5F5F5;
}
